.intro-page {
	.inner {
		background-color: rgba( 125, 125, 125, .6 );
		margin-top: 10rem;
	}
}

.intro-page, .ft-section.amanda .ft-page, .ft-section.james .ft-page, .ft-section.dave .ft-page {
	.inner {

		width: auto;
		min-width: 8rem;
		
		text-align: center;
		position: relative;

		max-height: 75%;
	}

	.innerer {
		padding: 2rem 4rem;
		height: 100%;
		line-height: 1.3;

		overflow: auto;
	}
}

.choose-path {
	.inner {
		background-color: transparent;
		margin-top: 1rem;
	}

	.choose-path-img {
		width: 20rem;
		height: auto;
	}

	ul {
		margin-top: 2rem;
		li {
			a {
				display: block;
				padding: 3rem 0;
				font-size: 1.6em;
				font-weight: bold;
				color: #F6EBD3;

				position: relative;

				img {
					position: absolute;
					left: -6rem;
					top: 1.5rem;
					height: 5.6rem;
					width: auto;
					transition: transform 0.6s cubic-bezier( .56, .1, .34, .91 );
				}

				&.amanda img { left: -12.5rem; }
				&.dave img { left: -10rem; }

				&:hover, &:active {
					text-shadow: 4px 4px 4px rgba( 0,0,0,.4 );
					img {
						transform: translateX( 2rem );
					}
				}
			}
		}
	}
}


.ft-section {

	&.amanda, &.james, &.dave, &.outro {
		.ft-page {
			.inner {
				background-color: #F3EBD4;
				color: #636466;

				width: auto;
				min-width: 8rem;
				margin: 8rem 4rem;
				text-align: center;
				position: relative;

				max-height: 75%;

			}
		}
	}

	&.amanda .ft-page {
		background: #70be8b url(../img/amanda/background-pattern.png) repeat;
	}

	&.james .ft-page{
		background: #666 url(../img/james/background-pattern.png) repeat;
	}

	&.outro .ft-page,
	&.intro .ft-page,
	&.dave .ft-page {
		background: #000 url(../img/dave/background-pattern.png) repeat;
	}

	&.outro {
		.ft-page {
			height: 100%;

			.inner {
				margin-top: -2rem;
				margin-bottom: 0;
				height: 100%;
				max-height: 100%;

				.innerer {
					padding: 6rem 2rem;
					text-align: center;
				}
			}
		}

		.ctas {
			width: 24rem;
			margin: 1rem auto 0 auto;
			.donate {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				width: 100%;
				font-size: 4rem;
			}
			.half {
				width: 47%;
				padding: 0;
				margin-top: 1.5rem;
				background-color: #E9B54A;
				&:hover {
					background-color: darken( #E9B54A, 10% );
				}
			}
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}
}



.ft-section {
	&.intro {
		
		.intro-banner {
			width: 100%;
			background-color: #E9B54A;
			text-align: center;
			margin: 15rem 0 3rem 0;
			img {
				height: 12rem;
				width: auto;
				margin: 2rem auto;
			}
		}
		p {
			text-align: center;
		}
	}
}