/* Feet */
#feet .amanda, #feet .james, #feet .dave {
  transform: translateY(-20rem);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }

body.amanda #feet, body.james #feet, body.dave #feet {
  transform: translateY(0); }

body.amanda #feet .amanda {
  transform: translateY(0); }

body.james #feet .james {
  transform: translateY(0); }

body.dave #feet .dave {
  transform: translateY(0); }

#feet {
  position: absolute;
  top: 5rem;
  width: 100%;
  z-index: 500; }
  #feet .amanda, #feet .james, #feet .dave {
    width: 30rem;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    #feet .amanda .foot-left, #feet .amanda .foot-right, #feet .james .foot-left, #feet .james .foot-right, #feet .dave .foot-left, #feet .dave .foot-right {
      width: 5rem;
      position: absolute; }
    #feet .amanda .foot-left, #feet .james .foot-left, #feet .dave .foot-left {
      top: 2rem;
      left: 8rem; }
    #feet .amanda .foot-right, #feet .james .foot-right, #feet .dave .foot-right {
      top: 2rem;
      left: 17rem; }
    #feet .amanda .dress, #feet .james .dress, #feet .dave .dress {
      width: 30rem;
      position: absolute;
      top: -14rem;
      left: 0; }
  #feet .james .foot-left, #feet .james .foot-right {
    width: 11rem; }
  #feet .james .foot-left {
    top: -4.1rem;
    left: 2rem; }
  #feet .james .foot-right {
    top: -4.1rem;
    left: 16rem; }
  #feet .dave .foot-left, #feet .dave .foot-right {
    width: 7rem; }
  #feet .dave .foot-left {
    top: -2.2rem;
    left: 6rem; }
  #feet .dave .foot-right {
    top: -2.2rem;
    left: 17rem; }
  #feet.moving .foot-left {
    animation: foot-left .3s alternate 6;
    -moz-animation: foot-left .3s alternate 6;
    -webkit-animation: foot-left .3s alternate 6;
    -o-animation: foot-left .3s alternate 6; }
  #feet.moving .foot-right {
    animation: foot-right .3s alternate 6;
    -moz-animation: foot-right .3s alternate 6;
    -webkit-animation: foot-right .3s alternate 6;
    -o-animation: foot-right .3s alternate 6; }
  #feet.moving .dress {
    animation: dress        .3s alternate 6;
    -moz-animation: dress    .3s alternate 6;
    -webkit-animation: dress .3s alternate 6;
    -o-animation: dress      .3s alternate 6; }

.flowtime {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.77, 0.1, 0.22, 1);
  transition: transform 2s cubic-bezier(0.77, 0.1, 0.22, 1); }

@-webkit-keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@-moz-keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@-webkit-keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@-moz-keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@-webkit-keyframes foot-right {
  0% {
    margin-top: -12px;
    margin-left: 50px; }

  100% {
    margin-top: 5px;
    margin-left: 21px; } }
@-moz-keyframes foot-right {
  0% {
    margin-top: -12px;
    margin-left: 50px; }

  100% {
    margin-top: 5px;
    margin-left: 21px; } }
@keyframes foot-right {
  0% {
    margin-top: -8px;
    margin-left: 18px; }

  100% {
    margin-top: 3px;
    margin-left: 0px; } }
