#footer-logo {
	position: fixed;
	bottom: 0rem;
	height: 2rem;
	width: 100%;
	background-color: #0657A3;
	z-index: 100000;
	transition: transform 0.6s cubic-bezier( .56, .1, .34, .91 );
	transform: translateY( 10rem );

	img {
		position: absolute;
		top: -4.5rem;
		height: 6rem;
		width: auto;
		left: 50%;
		margin-left: -5.3rem; /* Center */
	}
}

.show-footer-logo {
	#footer-logo {
		transform: translateY( 0 );
	}
}

$footerHeight: 5rem;

#footer {
	position: fixed;
	bottom: 0rem;

	background-color: #fff;
	height: $footerHeight;
	line-height: $footerHeight;
	width: 100%;
	z-index: 100010;

	transition: transform 0.6s cubic-bezier( .56, .1, .34, .91 );
	transform: translateY( 0 );

	.hide-footer & {
		transform: translateY( 10rem );
	}

	.inner {
		font-size: 2.2em;
		font-weight: bold;
	}

	.name {
		margin-left: 1rem;
		color: #0858A4;
		float: left;
	}

	button.js-menu {
		float:none;
		cursor: pointer;
		margin: .7rem 0 0 0 ;
		position: absolute;
		.hamburger {
			&, &::before, &::after {
				background-color: #0858A4;
			}
		}
	}
	.active button.js-menu .hamburger {
		background-color: transparent;
	}

	.budget-toggle {
		float: right;
		position:relative;

		$leftButtonWidth: 4.5rem;

		padding-left: $leftButtonWidth;
		

		.left {
			position: absolute;
			left:0;
			top:0;
			width: $leftButtonWidth;
		}

		.right {
			padding: 0 1rem;
			position: relative;
			background-color: #0858A4;
			color: #fff;
			height: 100%;
			margin:0;
			padding: .1rem 1rem 0 1rem;

		}

		.balance-label {
			font-size: .5em;
			line-height: .5em;
			margin: 1rem 0 0 0;
			font-weight: normal;

			span {
				display:inline-block;
				display:none;
				transition: 0.3s transform linear;
			}
		}
		&.open {
			.balance-label span {
				transform: rotate( 180deg );
			}
		}

		.var-balance {
			min-width: 7rem;
			margin-top: -.5rem;

		}

	}

	.negative {
		.right {
			background-color: rgb(162,6,37);
		}
		button.js-menu {
			.hamburger {
				&, &::before, &::after {
					background-color: rgb(162,6,37);
				}
			}
			&.active button.js-menu .hamburger {
				background-color: transparent;
			}
		}
	}
}

.ft-page .balance.negative .var-balance {
	color: rgb(162,6,37);
}

#budget-table {
	$budgetHeight: 30rem;

	width: 32rem;
	height: $budgetHeight;
	background: #F3EAD4;
	padding-top: 0rem;

	z-index: 100001;

	position: fixed;
	top: auto;
	right: 0;

	bottom: - ( $budgetHeight + $footerHeight );
	transform: translateY( 0 );
	transition: transform 0.6s cubic-bezier( .56, .1, .34, .91 );


	.budget-open & {
		transform: translateY( -($budgetHeight + $footerHeight) );
	}

	table {
		margin:0 auto;
		width: 100%;

		th, td {
			font-size: 1em;
			text-align: center;
			padding: 1rem .5rem;
			border: 1px solid #F3EAD4;
		}
		th {
			font-weight: bold;
			background-color: #0858A4;
			color: #F3EAD4;
		}
		td {
			color: #000;
		}
		tr:nth-child( odd ) {
			background-color: #F3D9A1;
		}

		$dateWidth: 15%;
		$changeWidth: 18%;
		$balanceWidth: 18%;
		$descWidth: 100% - $dateWidth - $changeWidth - balanceWidth;

		.date {
			width: $dateWidth;
		}
		.description {
			width: $descWidth;
		}

		.change {
			font-weight: bold;
			width: $changeWidth;
		}
		.positive { /*color: #3D65AC;*/ color: #0f9036; }
		.negative { color: #D46A4A; }

		.balance {
			font-weight: bold;
			width: $balanceWidth;
		}
	}

}