#choose-path-tablet, #feet a.button {
	display:none;
}

@media ( min-width: 1024px ) {
	#feet {
		max-width: 102.4rem;
		left: 50%;
		margin-left: -51.2rem;
	}

	header {
		.inner {
			max-width: 128rem;
			margin: 0 auto;
		}
	}

	body.hide-header {
		#feet {
			transform: translateY( -4rem );
		}
	}
	
	body.intro {

		.ft-section.intro .intro-banner {
			margin-top: 20rem;
			margin-bottom: 7rem;
		}

		#feet {

			z-index: 1;

			top: 5rem;
			transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
			transition-delay: .5s;

			.james, .amanda, .dave {
				transform: translateY( 0 );
				display:block;
				visibility: visible;
				position: absolute;
			}

			.dave {
				left: 5%;
			}
			.amanda {
				left: 35%;
			}
			.james {
				left: 66%;
			}

			a.button {
				opacity: 0;
				display: inline-block;
				transition: opacity 0.6s linear;
			}
		}

		.ft-page:not(.first) .inner {
			margin-top: 18rem;
			padding-top: 2rem;
			padding-bottom: 3rem;
		}
		.ft-page:not(.first) .innerer {
			max-width: 80rem;
			margin: 0 auto;
		}
	}

	.ft-section .ft-page {
		p {
			margin: 1.5em 0;
		}
	}

	.ft-page.choose-path .inner {
		display:none;
	}

	#choose-path-tablet {
		position: absolute;
		top: 5rem;
		left: 0;
		width: 100%;
		z-index: 600;
		display:block;

		transform: translateY( -20rem );
		transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);

		.cp-inner {
			width: auto;
			max-width: 128rem;
			padding: 2rem 1rem;
			margin: 0 auto;
			background-color: #0B58A5;
			text-align: center;
		}

		img {
			height: 10rem;
			width: auto;
		}

	}

	body.choose-path-page {
		#choose-path-tablet {
			display:block;
			transform: translateY( 0 );
		}
		#feet {
			transform: translateY( 15rem );

			p {
				text-align: center;
				position: absolute;
				top: 20rem;
				width: 100%;
			}
			a.button {
				display:inline-block;
				font-size: 1.8em;
				float: none;
				margin: 0 auto;
				opacity: 1;
			}
		}
	}

	body {
		&.james, &.amanda, &.dave {
			#feet {
				transform: translateY( 5rem );
			}
		}
	}


	.ft-section {
		&.james, &.amanda, &.dave {
			.inner {
				max-width: 100rem;
				margin-left: auto !important;
				margin-right: auto !important;
				margin-top: 17rem !important;
				padding-top: 1rem;
				padding-bottom: 2rem;

				h2 {
					font-size: 1.8em;
				}

				a.button {
					min-width: 10rem;
					margin-right: .5rem;
					margin-left: .5rem;
				}
			}
			.innerer {
				max-width: 80rem;
				margin: 0 auto;
			}
		}
	}

	#footer {
		.inner {
			max-width: 130rem;
		}
	}

	.ft-page.outro {
		.inner {

			.logo-large {
				margin-top: 0rem;
				margin-bottom: 4rem;
				height: 20rem;
			}

			.ctas {
				width: 30rem;
			}

			.donate {
				margin-bottom: .5rem;
			}

			.facebook { left: 1rem !important;}
			.twitter { left: 5.7rem !important;}
			.linkedin { left: 11rem !important;}

		}
	}


}