@import 'header';
@import 'footer';

@import 'feet';

@import 'backgrounds';
@import 'css-load';


html {
	font-size: 10px;

	font-family: Arial, sans-serif;
	font-style: normal;
	font-variant: bold;

	color: #F6EAD4;
	background-color: #646464;
}

.loading {
	#feet .amanda, #feet dave, nav, header, #budget-table, #footer {
		display:none !important;
		visibility: hidden !important;
	}
}

.ft-default-progress {
	bottom: 7rem;
}

/* Buttons */

a {
	text-decoration: none;
}

nav a {
	color: #F6EAD4;
}

a.button {
	text-transform: lowercase;

	color: #F6EAD4;
	background-color: #0858A4;
	line-height: 1.4em;
	font-size: 1.4em;
	font-weight: bold;

	display: inline-block;
	width: auto;
	padding: 1rem 2rem;
	border-radius: 1rem;
/*	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;*/

	&:hover {
		background-color: darken( #0858A4, 10% );
	}
	&:active {
	/*	line-height: 1.1em;

		border-top: 2px solid darken( #0858A4, 30% );
		border-left: 1px solid darken( #0858A4, 30% );
		border-right: 1px solid darken( #0858A4, 30% );*/
	}
}
a.button-risk {
	background-color: #FAB149;
}

a.donate {
	background-color: #ED4F39;

	&:hover {
		background-color: darken( #ED4F39, 10% );
	}
/*	&:active {
		border-top: 2px solid darken( #ED4F39, 30% );
		border-left: 1px solid darken( #ED4F39, 30% );
		border-right: 1px solid darken( #ED4F39, 30% );
		line-height: 2.3rem;
	}*/
}



/* Risk Cards */
.risk-card {
	.inner {
		min-height: 14rem;
	}
	a.button {
		opacity: 0;
		transition: opacity .25s ease-in-out;
		transition: 0.6s;
		transition-delay: 5s;
	}
}

ul.risk {
	$riskWidth: auto;
	$riskHeight: auto;
	$riskMinHeight: 2rem;

	display:block;
	position: relative;

	height: $riskHeight;
	min-height: $riskMinHeight;
	width: $riskWidth;
	margin: 1rem auto;

	li {
		display:none;

		width: $riskWidth;
		height: $riskHeight;
		min-height: $riskMinHeight;

		&.front, &.back {
			display: block;
			position: absolute;
			width: 100%;
			transition: opacity .25s ease-in-out;
			transition: 0.6s;
			transition-delay: 5s;
		}

		&.back {
			opacity: 0;
		}
	}
}

.flip {
	ul.risk li {
		&.front { opacity: 0; }
		&.back { opacity: 1; }
	}
	a.button {
		opacity: 1;
	}
}


ul.choices {
	li {
		list-style-type: disc;
		list-style-position: inside;
	}
}

p.smaller {
	font-size: .9em;
}

/* entire container, keeps perspective */
//.flip-container {
//	perspective: 1000;
//}
//	/* flip the pane when hovered */
//	.flip-container.flip .flipper {
//		transform: rotateY(180deg);
//	}
//
//.flip-container, .front, .back {
//	width: auto;
//	height: auto;
//}
//.back {
//	left: -50%;
//}
//
///* flip speed goes here */
//.flipper {
//	transition: 0.6s;
//	transition-delay: 5s;
//	transform-style: preserve-3d;
//
//	position: relative;
//}
//
///* hide back of pane during swap */
//.front, .back {
//	backface-visibility: hidden;
//
//	position: absolute;
//	top: 0;
//	left: 0;
//}
//
///* front pane, placed above back */
//.front {
//	z-index: 2;
//	/* for firefox 31 */
//	transform: rotateY(0deg);
//}
//
///* back, initially hidden pane */
//.back {
//	transform: rotateY(180deg);
//}