header {
  background-color: #FAB149;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100010;
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  .hide-header header {
    transform: translateY(-10rem); }
  header .inner {
    margin: 0 1rem; }
    header .inner p {
      text-align: left; }
  header p {
    float: left;
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    padding-left: 4.5rem; }
  header .logo {
    width: auto;
    height: 3rem;
    margin-top: 1rem;
    position: absolute;
    left: 0; }

button.js-menu {
  transition: 0.1s transform linear;
  color: #FFD895;
  position: relative;
  float: right;
  background: 0;
  height: 3.5rem;
  width: 3.5rem;
  padding: 0rem;
  margin: .6rem 2em 0 0;
  z-index: 1;
  outline: 0;
  border: 0;
  cursor: pointer; }

.hamburger, .hamburger::before, .hamburger::after {
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #F9D391;
  margin: auto;
  width: 100%;
  height: 0.5rem;
  content: '';
  top: 50%;
  left: 0; }
.hamburger {
  margin-top: -0.2rem; }
.hamburger::before {
  top: -1.2rem; }
.hamburger::after {
  top: 1.2rem; }
.hamburger::before, .hamburger::after {
  transform: rotate(0deg); }
.active .hamburger {
  background: 0; }
  .active .hamburger::before {
    transform: rotate(45deg); }
  .active .hamburger::after {
    transform: rotate(-45deg); }
  .active .hamburger::before, .active .hamburger::after {
    top: 0; }
  .active .hamburger, .active .hamburger::before, .active .hamburger::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s; }

nav {
  width: 25rem;
  height: 50rem;
  background: #0858A4;
  z-index: 100001;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100rem);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding-top: 6.2rem; }
  .menu-open nav {
    transform: translateY(0); }
  nav ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    nav ul li {
      text-align: center;
      margin: 2rem 0; }
      nav ul li a {
        padding: 20px 5px;
        display: block;
        font-size: 3rem;
        font-weight: bold; }
        nav ul li a:hover {
          background: rgba(0, 0, 0, 0.1); }
        nav ul li a:active {
          background: rgba(0, 0, 0, 0.2); }
      nav ul li .donate {
        margin: 0 auto; }

#footer-logo {
  position: fixed;
  bottom: 0rem;
  height: 2rem;
  width: 100%;
  background-color: #0657A3;
  z-index: 100000;
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  transform: translateY(10rem); }
  #footer-logo img {
    position: absolute;
    top: -4.5rem;
    height: 6rem;
    width: auto;
    left: 50%;
    margin-left: -5.3rem;
    /* Center */ }

.show-footer-logo #footer-logo {
  transform: translateY(0); }

#footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  z-index: 100010;
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  .hide-footer #footer {
    transform: translateY(10rem); }
  #footer .inner {
    font-size: 2.2em;
    font-weight: bold; }
  #footer .name {
    margin-left: 1rem;
    color: #0858A4;
    float: left; }
  #footer button.js-menu {
    float: none;
    cursor: pointer;
    margin: 0.7rem 0 0 0; }
    #footer button.js-menu .hamburger, #footer button.js-menu .hamburger::before, #footer button.js-menu .hamburger::after {
      background: #0858A4; }
  #footer .active button.js-menu .hamburger {
    background: 0; }
  #footer .budget-toggle {
    float: right;
    position: relative;
    padding-left: 4.5rem; }
    #footer .budget-toggle .left {
      position: absolute;
      left: 0;
      top: 0;
      width: 4.5rem; }
    #footer .budget-toggle .right {
      padding: 0 1rem;
      position: relative;
      background-color: #0858A4;
      color: #fff;
      height: 100%;
      margin: 0;
      padding: .1rem 1rem 0 1rem; }
    #footer .budget-toggle .balance-label {
      font-size: .5em;
      line-height: .5em;
      margin: 1rem 0 0 0;
      font-weight: normal; }
      #footer .budget-toggle .balance-label span {
        display: inline-block;
        display: none;
        transition: 0.3s transform linear; }
    #footer .budget-toggle.open .balance-label span {
      transform: rotate(180deg); }
    #footer .budget-toggle .var-balance {
      min-width: 7rem;
      margin-top: -.5rem; }
      #footer .budget-toggle .var-balance::before {
        content: "$"; }

#budget-table {
  width: 30rem;
  height: 30rem;
  background: #F3EAD4;
  padding-top: 0rem;
  z-index: 100001;
  position: fixed;
  top: auto;
  right: 0;
  bottom: -35rem;
  transform: translateY(0);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
  .budget-open #budget-table {
    transform: translateY(-40rem); }
  #budget-table table {
    margin: 0 auto;
    width: 100%; }
    #budget-table table th, #budget-table table td {
      font-size: 1em;
      text-align: center;
      padding: 1rem .5rem;
      border: 1px solid #F3EAD4; }
    #budget-table table th {
      font-weight: bold;
      background-color: #0858A4;
      color: #F3EAD4; }
    #budget-table table td {
      color: #000; }
    #budget-table table tr:nth-child(odd) {
      background-color: #F3D9A1; }
    #budget-table table .date {
      width: 15%; }
    #budget-table table .description {
      width: 67%-balanceWidth; }
    #budget-table table .change {
      font-weight: bold;
      width: 18%; }
    #budget-table table .positive {
      /*color: #3D65AC;*/
      color: #0f9036; }
    #budget-table table .negative {
      color: #D46A4A; }
    #budget-table table .balance {
      font-weight: bold;
      width: 18%; }
      #budget-table table .balance::before {
        content: "$"; }

/* Feet */
#feet .amanda, #feet .james, #feet .dave {
  transform: translateY(-30rem);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }

body.amanda #feet, body.james #feet, body.dave #feet {
  transform: translateY(-7rem); }

body.amanda #feet .amanda {
  transform: translateY(0); }

body.james #feet .james {
  transform: translateY(0); }

body.dave #feet .dave {
  transform: translateY(0); }

body.intro #feet .james {
  transform: translateY(-4rem); }

body.hide-feet #feet .amanda, body.hide-feet #feet .james, body.hide-feet #feet .dave {
  transform: translateY(-30rem); }

#feet {
  position: absolute;
  top: 5rem;
  width: 100%;
  z-index: 500; }
  #feet .amanda, #feet .james, #feet .dave {
    width: 30rem;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    #feet .amanda .foot-left, #feet .amanda .foot-right, #feet .james .foot-left, #feet .james .foot-right, #feet .dave .foot-left, #feet .dave .foot-right {
      width: 5rem;
      position: absolute; }
    #feet .amanda .foot-left, #feet .james .foot-left, #feet .dave .foot-left {
      top: 2rem;
      left: 8rem; }
    #feet .amanda .foot-right, #feet .james .foot-right, #feet .dave .foot-right {
      top: 2rem;
      left: 17rem; }
    #feet .amanda .dress, #feet .james .dress, #feet .dave .dress {
      width: 30rem;
      position: absolute;
      top: -14rem;
      left: 0; }
  #feet .james .foot-left, #feet .james .foot-right {
    width: 11rem; }
  #feet .james .foot-left {
    top: -4.1rem;
    left: 2rem; }
  #feet .james .foot-right {
    top: -4.1rem;
    left: 16rem; }
  #feet .dave .foot-left, #feet .dave .foot-right {
    width: 7rem; }
  #feet .dave .foot-left {
    top: -2.2rem;
    left: 6rem; }
  #feet .dave .foot-right {
    top: -2.2rem;
    left: 17rem; }
  #feet .foot-left {
    -webkit-filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-2px 4px 2px rgba(0, 0, 0, 0.4)); }
  #feet .foot-right {
    -webkit-filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.4)); }
  #feet.moving .foot-left {
    animation: foot-left .3s alternate 6;
    -moz-animation: foot-left .3s alternate 6;
    -webkit-animation: foot-left .3s alternate 6;
    -o-animation: foot-left .3s alternate 6; }
  #feet.moving .foot-right {
    animation: foot-right .3s alternate 6;
    -moz-animation: foot-right .3s alternate 6;
    -webkit-animation: foot-right .3s alternate 6;
    -o-animation: foot-right .3s alternate 6; }
  #feet.moving .dress {
    animation: dress        .3s alternate 6;
    -moz-animation: dress    .3s alternate 6;
    -webkit-animation: dress .3s alternate 6;
    -o-animation: dress      .3s alternate 6; }

.flowtime {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.77, 0.1, 0.22, 1);
  transition: transform 2s cubic-bezier(0.77, 0.1, 0.22, 1); }

@-webkit-keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@-moz-keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@-webkit-keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@-moz-keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@-webkit-keyframes foot-right {
  0% {
    margin-top: -12px;
    margin-left: 50px; }

  100% {
    margin-top: 5px;
    margin-left: 21px; } }
@-moz-keyframes foot-right {
  0% {
    margin-top: -12px;
    margin-left: 50px; }

  100% {
    margin-top: 5px;
    margin-left: 21px; } }
@keyframes foot-right {
  0% {
    margin-top: -8px;
    margin-left: 18px; }

  100% {
    margin-top: 3px;
    margin-left: 0px; } }
.intro-page .inner {
  background-color: rgba(125, 125, 125, 0.6);
  margin-top: 10rem; }

.intro-page .inner, .ft-section.amanda .ft-page .inner, .ft-section.james .ft-page .inner, .ft-section.dave .ft-page .inner {
  width: auto;
  min-width: 8rem;
  text-align: center;
  position: relative;
  max-height: 75%; }
.intro-page .innerer, .ft-section.amanda .ft-page .innerer, .ft-section.james .ft-page .innerer, .ft-section.dave .ft-page .innerer {
  padding: 2rem 4rem;
  height: 100%;
  line-height: 1.3;
  overflow: auto; }

.choose-path .inner {
  background-color: transparent;
  margin-top: 1rem; }
.choose-path .choose-path-img {
  width: 20rem;
  height: auto; }
.choose-path ul {
  margin-top: 2rem; }
  .choose-path ul li a {
    display: block;
    padding: 3rem 0;
    font-size: 1.6em;
    font-weight: bold;
    color: #F6EBD3;
    position: relative; }
    .choose-path ul li a img {
      position: absolute;
      left: -6rem;
      top: 1.5rem;
      height: 5.6rem;
      width: auto;
      transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }
    .choose-path ul li a.amanda img {
      left: -12.5rem; }
    .choose-path ul li a.dave img {
      left: -10rem; }
    .choose-path ul li a:hover, .choose-path ul li a:active {
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); }
      .choose-path ul li a:hover img, .choose-path ul li a:active img {
        transform: translateX(2rem); }

.ft-section.amanda .ft-page .inner, .ft-section.james .ft-page .inner, .ft-section.dave .ft-page .inner, .ft-section.outro .ft-page .inner {
  background-color: #F3EBD4;
  color: #636466;
  width: auto;
  min-width: 8rem;
  margin: 8rem 4rem;
  text-align: center;
  position: relative;
  max-height: 75%; }
.ft-section.amanda .ft-page {
  background: #70be8b url(../img/amanda/background-pattern.png) repeat; }
.ft-section.james .ft-page {
  background: #666666 url(../img/james/background-pattern.png) repeat; }
.ft-section.outro .ft-page, .ft-section.intro .ft-page, .ft-section.dave .ft-page {
  background: black url(../img/dave/background-pattern.png) repeat; }
.ft-section.outro .ft-page {
  height: 100%; }
  .ft-section.outro .ft-page .inner {
    margin-top: -2rem;
    margin-bottom: 0;
    height: 100%;
    max-height: 100%; }
    .ft-section.outro .ft-page .inner .innerer {
      padding: 6rem 2rem;
      text-align: center; }
.ft-section.outro .ctas {
  width: 24rem;
  margin: 1rem auto 0 auto; }
  .ft-section.outro .ctas .donate {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: 4rem; }
  .ft-section.outro .ctas .half {
    width: 47%;
    padding: 0;
    margin-top: 1.5rem;
    background-color: #E9B54A; }
    .ft-section.outro .ctas .half:hover {
      background-color: #e3a21d; }
  .ft-section.outro .ctas .left {
    float: left; }
  .ft-section.outro .ctas .right {
    float: right; }

.ft-section.intro .intro-banner {
  width: 100%;
  background-color: #E9B54A;
  text-align: center;
  margin: 15rem 0 3rem 0; }
  .ft-section.intro .intro-banner img {
    height: 12rem;
    width: auto;
    margin: 2rem auto; }
.ft-section.intro p {
  text-align: center; }

html {
  font-size: 10px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-variant: bold;
  color: #F6EAD4;
  background-color: #646464; }

.ft-default-progress {
  bottom: 7rem; }

/* Buttons */
a {
  text-decoration: none; }

nav a {
  color: #F6EAD4; }

a.button {
  color: #F6EAD4;
  background-color: #0858A4;
  line-height: 1.4em;
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  /*	border-top: 2px solid transparent;
  	border-bottom: 2px solid transparent;
  	border-left: 1px solid transparent;
  	border-right: 1px solid transparent;*/ }
  a.button:hover {
    background-color: #063e73; }
  a.button:active {
    	/*	line-height: 1.1em;
    
    		border-top: 2px solid darken( #0858A4, 30% );
    		border-left: 1px solid darken( #0858A4, 30% );
    		border-right: 1px solid darken( #0858A4, 30% );*/ }

a.donate {
  background-color: #ED4F39;
  /*	&:active {
  		border-top: 2px solid darken( #ED4F39, 30% );
  		border-left: 1px solid darken( #ED4F39, 30% );
  		border-right: 1px solid darken( #ED4F39, 30% );
  		line-height: 2.3rem;
  	}*/ }
  a.donate:hover {
    background-color: #df2d14; }

/* Outtro */
.logo-large {
  height: 20rem;
  margin: 0 0 2rem 0; }

/* Layout */
.ft-page {
  padding-top: 6rem;
  margin-top: 0;
  font-size: 1.6em;
  max-height: 100%;
  overflow: hidden; }
  .ft-page h2 {
    font-size: 1.4em;
    font-weight: bold; }
  .ft-page p {
    margin: 1em 0; }

/* Risk Cards */
ul.risk {
  display: block;
  position: relative;
  height: auto;
  width: auto;
  margin: 2rem auto; }
  ul.risk li {
    display: none;
    /*position:absolute;*/
    background-color: #fff;
    /*top:0;
    left: 50%;*/
    width: auto;
    height: auto;
    /*margin-left: - $riskWidth/2 ;*/ }

p.balance {
  font-size: 1.6em;
  font-weight: bold;
  color: #0858A4; }
  p.balance .var-balance::before {
    content: "$"; }
