header {
  background-color: #FAB149;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  z-index: 100010; }
  header .inner {
    margin: 0 1rem; }
  header p {
    float: left;
    width: 60%;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    padding-left: 4.5rem; }
  header .logo {
    width: auto;
    height: 3rem;
    margin-top: 1rem;
    position: absolute;
    left: 0; }
  header button {
    transition: 0.1s transform linear;
    color: #FFD895;
    position: relative;
    float: right;
    background: 0;
    height: 3.5rem;
    width: 3.5rem;
    padding: 0rem;
    margin: .6rem 2em 0 0;
    z-index: 1;
    outline: 0;
    border: 0;
    cursor: pointer; }

.hamburger, .hamburger::before, .hamburger::after {
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #F9D391;
  margin: auto;
  width: 100%;
  height: 0.5rem;
  content: '';
  top: 50%;
  left: 0; }
.hamburger {
  margin-top: -0.2rem; }
.hamburger::before {
  top: -1.2rem; }
.hamburger::after {
  top: 1.2rem; }
.hamburger::before, .hamburger::after {
  transform: rotate(0deg); }
.active .hamburger {
  background: 0; }
  .active .hamburger::before {
    transform: rotate(45deg); }
  .active .hamburger::after {
    transform: rotate(-45deg); }
  .active .hamburger::before, .active .hamburger::after {
    top: 0; }
  .active .hamburger, .active .hamburger::before, .active .hamburger::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s; }

nav {
  width: 250px;
  height: 500px;
  background: #0858A4;
  z-index: 100001;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-520px);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding-top: 6.2rem; }
  .menu-open nav {
    transform: translateY(0); }
  nav ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    nav ul li {
      text-align: center;
      margin: 2rem 0; }
      nav ul li a {
        padding: 20px 5px;
        display: block;
        font-size: 3rem;
        font-weight: bold; }
        nav ul li a:hover {
          background: rgba(0, 0, 0, 0.1); }
        nav ul li a:active {
          background: rgba(0, 0, 0, 0.2); }
      nav ul li .donate {
        margin: 0 auto; }

html {
  font-size: 10px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-variant: bold;
  color: #F6EAD4; }

/* Backgrounds */
html {
  background-color: #646464; }

/* Buttons */
a {
  text-decoration: none; }

nav a {
  color: #F6EAD4; }

a.button {
  color: #F6EAD4;
  background-color: #0858A4;
  line-height: 1em;
  display: inline-block;
  width: auto;
  padding: 2rem;
  border-radius: 1rem;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }
  a.button:hover {
    background-color: #063e73; }
  a.button:active {
    line-height: 1.1em;
    border-top: 2px solid #010a12;
    border-left: 1px solid #010a12;
    border-right: 1px solid #010a12; }

a.donate {
  background-color: #ED4F39; }
  a.donate:hover {
    background-color: #df2d14; }
  a.donate:active {
    border-top: 2px solid #811a0c;
    border-left: 1px solid #811a0c;
    border-right: 1px solid #811a0c;
    line-height: 2.3rem; }

/* Layout */
.ft-page {
  padding-top: 6rem;
  margin-top: 0;
  font-size: 1.6em;
  max-height: 100%;
  overflow: auto; }
  .ft-page .inner {
    width: auto;
    min-width: 8rem;
    margin: 1rem 4rem;
    padding: 2rem;
    text-align: center; }
  .ft-page h2 {
    font-size: 1.4em;
    font-weight: bold; }
  .ft-page p {
    margin: 1em 0; }

.ft-section.amanda .inner, .ft-section.james .inner, .ft-section.dave .inner {
  background-color: #F3EBD4;
  color: #636466; }
.ft-section.amanda .ft-page {
  background: #70be8b url(../img/amanda/background-pattern.png) repeat; }
.ft-section.james .ft-page {
  background: lightgray url(../img/james/background-pattern.png) repeat; }
.ft-section.dave .ft-page {
  background: gray url(../img/dave/background-pattern.png) repeat; }

table {
  margin: 2rem auto; }
  table th {
    background-color: #3D65AC;
    color: #F3EAD4; }
  table th, table td {
    font-size: .8em;
    padding: .5rem 1rem;
    border: 1px solid #F3EAD4; }

#footer {
  display: none; }

/* Outtro */
.logo-large {
  height: 20rem;
  margin: 0 0 2rem 0; }

/* Feet */
#feet {
  transform: translateY(-20rem);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91); }

body.amanda #feet, body.james #feet, body.dave #feet {
  transform: translateY(0); }

#feet {
  position: absolute;
  top: 5rem;
  width: 100%;
  z-index: 500; }
  #feet .amanda {
    width: 30rem;
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center; }
    #feet .amanda .foot-left, #feet .amanda .foot-right {
      width: 5rem;
      position: absolute; }
    #feet .amanda .foot-left {
      top: 2rem;
      left: 8rem; }
    #feet .amanda .foot-right {
      top: 2rem;
      left: 17rem; }
    #feet .amanda .dress {
      width: 30rem;
      position: absolute;
      top: -14rem;
      left: 0; }
  #feet.moving .foot-left {
    animation: foot-left .3s alternate 6;
    -moz-animation: foot-left .3s alternate 6;
    -webkit-animation: foot-left .3s alternate 6;
    -o-animation: foot-left .3s alternate 6; }
  #feet.moving .foot-right {
    animation: foot-right .3s alternate 6;
    -moz-animation: foot-right .3s alternate 6;
    -webkit-animation: foot-right .3s alternate 6;
    -o-animation: foot-right .3s alternate 6; }
  #feet.moving .dress {
    animation: dress        .3s alternate 6;
    -moz-animation: dress    .3s alternate 6;
    -webkit-animation: dress .3s alternate 6;
    -o-animation: dress      .3s alternate 6; }

.flowtime {
  -webkit-transition: -webkit-transform 2s cubic-bezier(0.77, 0.1, 0.22, 1);
  transition: transform 2s cubic-bezier(0.77, 0.1, 0.22, 1); }

@-webkit-keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@-moz-keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@keyframes dress {
  0% {
    margin-top: 3px; }

  100% {
    margin-top: 0px; } }
@-webkit-keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@-moz-keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@keyframes foot-left {
  0% {
    margin-top: 7px;
    margin-left: 0px; }

  100% {
    margin-top: 0px;
    margin-left: 5px; } }
@-webkit-keyframes foot-right {
  0% {
    margin-top: -12px;
    margin-left: 50px; }

  100% {
    margin-top: 5px;
    margin-left: 21px; } }
@-moz-keyframes foot-right {
  0% {
    margin-top: -12px;
    margin-left: 50px; }

  100% {
    margin-top: 5px;
    margin-left: 21px; } }
@keyframes foot-right {
  0% {
    margin-top: -8px;
    margin-left: 18px; }

  100% {
    margin-top: 3px;
    margin-left: 0px; } }
