@import 'header';
@import 'footer';

@import 'feet';

@import 'backgrounds';


html {
	font-size: 10px;

	font-family: Arial, sans-serif;
	font-style: normal;
	font-variant: bold;

	color: #F6EAD4;
	background-color: #646464;
}

.ft-default-progress {
	bottom: 7rem;
}

/* Buttons */

a {
	text-decoration: none;
}

nav a {
	color: #F6EAD4;
}

a.button {
	color: #F6EAD4;
	background-color: #0858A4;
	line-height: 1em;

	display: inline-block;
	width: auto;
	padding: 2rem;
	border-radius: 1rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;

	&:hover {
		background-color: darken( #0858A4, 10% );
	}
	&:active {
		line-height: 1.1em;

		border-top: 2px solid darken( #0858A4, 30% );
		border-left: 1px solid darken( #0858A4, 30% );
		border-right: 1px solid darken( #0858A4, 30% );
	}
}

a.donate {
	background-color: #ED4F39;

	&:hover {
		background-color: darken( #ED4F39, 10% );
	}
	&:active {
		border-top: 2px solid darken( #ED4F39, 30% );
		border-left: 1px solid darken( #ED4F39, 30% );
		border-right: 1px solid darken( #ED4F39, 30% );
		line-height: 2.3rem;
	}
}


/* Outtro */

.logo-large {
	height: 20rem;
	margin: 0 0 2rem 0;
}






/* Layout */
.ft-page {
	padding-top: 6rem;
	margin-top:0;

	font-size: 1.6em;

	max-height: 100%;
	overflow: hidden;

	



	h2 {
		font-size: 1.4em;
		font-weight: bold;
	}

	p {
		margin: 1em 0;
	}
}


/* Risk Cards */
ul.risk {
	$riskWidth: 30rem;
	$riskHeight: 10rem;

	display:block;
	position: relative;

	height: $riskHeight;
	width: $riskWidth;
	margin: 2rem auto 8rem auto;

	li {
		display:block;
		position:absolute;
		background-color: #fff;

		top:0;
		left: 50%;
		width: $riskWidth;
		height: $riskHeight;
		margin-left: - $riskWidth/2 ;

	}
}